.dub
docs.json
__dummy.html
docs/
/chitra-plugin-lua
libchitra-plugin-lua.a
chitra-plugin-lua.so
chitra-plugin-lua.dylib
chitra-plugin-lua.dll
chitra-plugin-lua.a
chitra-plugin-lua.lib
chitra-plugin-lua-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
/chitra
/*.png